.login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

.fadeOut{
    opacity:0;
    width:0px;
    height:0px;
    position: relative;
}

.form {
    text-align: center;
    vertical-align: middle;
    width: 300px;
}

.loginError{
    text-align: center;
    display: block;
}
